
.carousel img {

     margin: auto;
     max-width: 65%;
     min-width: 500px;

}
.carousel-item {
	margin-top: auto;
margin-bottom: auto;
}
.next-prev {
	width: 50%;
}

.panda {
	width: 100px;
	height: 100px;
	background-image: url("gn_pnd.png");
	background-size: cover;
	position: fixed;
	top: 0;
    right: 0;
    border: none;
    background-color: #fff;

}
.card-img-top {
	max-height: 350px;
	/*margin-top: 3px;*/
	/*margin: 0 auto;*/
}
.vlad {
	width: 150px;
}
.card-deck {
	margin: 30px auto;
}
.email{
	   word-break: break-all;
	   /*background-color: red; */
}
/*.city{
	overflow: hidden;
}*/
header, .switcher {
	margin-bottom: 20px;
}

.content {
	/*background-color: yellow;*/
	height: 520px;
}
.text-muted {
		/*background-color: yellow;*/

}
.card-footer {
	/*background-color: red;*/
	padding: 10px 0px

}
.kino-card {
	/*background-color: red;*/
	padding: 3px 3px;
		max-width: 250px;
		/*min-width: 250px;*/
		margin-bottom: 40px;


}
.card-columns {
		margin: 10px auto;

}


/*card-deck {
	background-color: red;
	margin: 10px auto;
}*/
/*#carousel-example-2 {
		height: 300px;
}*/


.blockquote {
		/*background-color: red;*/
		margin: 0 auto;
}

.vlad-n {
		display: none;
	width: 140px;

}
/*DISPLAY*/
#kino_wrap {
	display: none;
	background-color: red;
}


#hide, #hide-mode{
	display: none;
}

.card-names {
	max-width: 250px;
}
.name-deck {
	/*background-color: red;*/
	margin: 10px auto;
}
.rcn-wrp {
max-width: 600px;
}

.rcn-card {
	/*border-width: 3px auto;*/
	padding: 3px 3px;
	min-width: 250px;
}
.rcn-card+.carousel-caption {
    top: -7%;
    left: -30%;  
    bottom: auto;

}
#content {
	/*overflow: hidden;*/
	/*background-color: red;*/
}
.btn:toggle {
	border: none;
}
button:focus { outline: none; }

@media (max-width: 860px) { 
.rcn-wrp {
width: 60%;
/*background-color: red;*/
margin: auto auto 40px auto;
}

.rcn-card {
	/*border-width: 3px auto;*/
/*	display: block;
*/	padding: 3px 3px;
	min-width: 400px;
	max-width: 550px
} 
.rcn-card+.carousel-caption {
    top: 5%;
    left: -30%;  
    bottom: auto;

}
 #content {
/*	background-color: red;
	display: block;
	position: relative;
	clear: both;
	flex:initial;*/

}
